
<title>文章管理 - 文章列表</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>文章管理</cite></a>
        <a><cite>文章列表</cite></a>
    </div>
</div>


<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-body">

                    <table class="layui-hide" id="LAY-article-list" lay-filter="LAY-article-list"></table>
                    <script type="text/html" id="imgTpl">
                        <img style="display: inline-block; width: 50%; height: 100%;" src= {{ d.image }}>
                    </script>


                    <script type="text/html" id="typeTpl">
                        {{#  if(d.type == 1){ }}
                        <span class="layui-badge layui-bg-orange">涨知识</span>
                        {{#  } else { }}
                        <span class="layui-badge layui-bg-blue">公告</span>
                        {{#  } }}
                    </script>



                    <script type="text/html" id="Lay-article-list-toolbar">
                        <div class="layui-btn-container">
                            <button class="layui-btn layuiadmin-btn-useradmin layui-bg-blue" lay-event="add-rise">添加涨知识</button>
                            <button class="layui-btn layuiadmin-btn-useradmin layui-bg-blue" lay-event="add-notice">添加公告</button>

                        </div>
                    </script>

                    <script type="text/html" id="LAY-article-list-tool-tages">
                        <a class="layui-btn layui-btn-danger layui-bg-green layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>查看</a>
                        <a class="layui-btn layui-btn-normal layui-bg-red layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['jquery', 'element', 'layer', 'laydate', 'layedit', 'view', 'table', 'form', 'admin', 'upload'], function () {

        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var view = layui.view;
        var layer = layui.layer;


        table.render({
            elem: '#LAY-article-list'
            ,method: "post"
            ,url:'/api/articles/getList'
            , toolbar: '#Lay-article-list-toolbar'
            ,defaultToolbar: []
            , height: "full-150"
            ,cols: [[
                {field:'id', width:80, title: 'ID', fixed: "left",}
                ,{field:'type', width:90, title: '文章类型', templet: "#typeTpl"}
                ,{field:'image', width:120, title: '图片', templet: "#imgTpl"}
                ,{field:'title', width:300, title: '标题'}
                ,{field:'desn', width:300, title: '描述'}
                ,{field:'dandan_cost', width:90, title: '蛋币', templet: function(d) {
                    if (d.type == 1) {
                        return d.dandan_cost == 0 ? "免费" : d.dandan_cost;
                    } else  {
                        return  "--"
                    }
                }}
                ,{field:'much_money', width:90, title: '价格', templet: function(d) {
                    if (d.type == 1) {
                        return d.much_money == 0 ? "免费" : d.much_money;
                    } else  {
                        return  "--"
                    }
                }}
                ,{field:'pay_count', width:90, title: '购买次数'}
                , {title: "操作", width: 200, align: "center", fixed: "right", toolbar: "#LAY-article-list-tool-tages"}
            ]]
            , height: "full-150"
            , page: true
            , limit: 15
            , limits: [10, 15, 20, 30, 40, 50, 100]
            , text: {
                none: "0 个"
            }
        });


        // //头工具栏事件
        table.on('toolbar(LAY-article-list)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);


            if(obj.event === "add-rise") {

                admin.popup({
                    id: 'LAY-article-form-submit-filter-add'
                    // id: new Date().getTime()
                    ,title: '添加涨知识'
                    ,area: ['95%', '95%']
                    ,success: function(layero, index) {

                        view(this.id).render('BusinessDepartment/Article/rise').done(function () {
                            table.render("LAY-article-list");
                        });
                    }
                });

            } else {
                admin.popup({
                    id: 'LAY-article-form-submit-filter-add'
                    // id: new Date().getTime()
                    ,title: '添加公告'
                    ,area: ['95%', '95%']
                    ,success: function(layero, index) {

                        view(this.id).render('BusinessDepartment/Article/notice').done(function () {
                            table.render("LAY-article-list");
                        });
                    }
                });
            }

        });

        //监听行工具事件
        table.on('tool(LAY-article-list)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    // obj.del();
                    // layer.close(index);
                    layer.close(index);
                    console.log(data.id);
                    $.ajax({
                        type: "post"
                        ,url:'/api/articles/del'
                        ,data: {'id':data.id}
                        ,dataType: "json"
                        ,success: function (res) {
                            console.log(res);
                            layer.msg(res.msg);
                            if (res.code == 0) {
                                obj.del();
                                layer.close(index);
                            }
                        }
                    });

                });
            }
            else if(obj.event === 'edit'){
                admin.popup({
                    title: '编辑/查看'
                    , area: ['90%', '90%']
                    , id: 'LAY-article-list-edit'
                    , success: function (layero, index) {
                        console.log(data.id);
                        console.log(JSON.stringify(obj.data));
                        layui.setter.setData(data);
                        if(data.type == 1) {
                            view(this.id).render('BusinessDepartment/Article/riseForm', data).done(function () {

                            });
                        } else  {
                            view(this.id).render('BusinessDepartment/Article/noticeForm', data).done(function () {

                            });
                        }


                    }
                });
            }
        });

    });
</script>

