
<title>添加文章</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>文章管理</cite></a>
        <a><cite>文章列表</cite></a>
        <a><cite>公告编辑/查看</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">公告</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" lay-filter="notice-form">

                        <script type="text/html" template="">
                            <input type="hidden" name="id"  value="{{d.params.id}}"  class="layui-input">
                        </script>

                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <script type="text/html" template="">
                                    <input type="text" name="title" lay-verify="required" value="{{ d.params.title }}" autocomplete="off" placeholder="请输入标题" class="layui-input">
                                </script>
                            </div>
                        </div>

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">描述</label>
                            <div class="layui-input-block">
                                <script type="text/html" template="">

                                    <textarea name="desn" placeholder="请输入描述，可空" class="layui-textarea">{{d.params.desn}}</textarea>
                                </script>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">谁可看</label>
                            <div class="layui-input-block"
                                 id="visible"
                                 name="visible"
                                 lay-filter="visible"
                                 aria-required="true"></div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-upload">
                                <div class="layui-inline">
                                    <label class="layui-form-label">缩略图</label>
                                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                                </div>
                                <div class="layui-upload-list layui-inline">
                                    <script type="text/html" template="">

                                        <img class="layui-upload-img" id="image" src="{{ d.params.image}}" name="image" style="width: 200px;">
                                    </script>
                                    <p id="demoText"></p>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">内容</label>
                            <div class="layui-input-block">
                                <!-- 加载编辑器的容器 -->
                                <script type="text/html" template="">
                                    <textarea name="body" class="layui-textarea" placeholder="这里写你的初始化内容" id="body">{{d.params.body}}</textarea>

                                </script>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="vaeform">立即提交</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<script>
    layui.use('article', layui.factory('article')).use(['table', 'upload','form', 'article', 'admin'], function(){
        var form = layui.form;
        var layer = layui.layer;
        var table = layui.table;
        var $ = layui.$;
        var upload = layui.upload;
        var admin = layui.admin;
        form.render();

        var setterData = layui.setter.getData();
        console.log(setterData);

        /**
         * 不好招的工种 bad_jobs
         */
        var visible = [
            "普通用户"
            ,"会员"
            ,"工人"
            ,"初级合伙人"
            ,"高级合伙人","准高级合伙人","战略联盟","驻厂老师","驻场经理","工厂HR","业务员","人事部","财务部"];
        layui.each(visible, function(index, item) {
            console.log(item);
            var checkBox = document.createElement("input");
            checkBox.setAttribute("type", "checkbox");
            checkBox.setAttribute("value", index+1);
            checkBox.setAttribute("name", 'visible');
            checkBox.setAttribute("title", item);
            layui.each(setterData.visible, function (inx, val) {
                if (val == index+1) {
                    checkBox.setAttribute("checked", true);
                }
            });
            $('#visible').append(checkBox);
        });
        form.render('checkbox');
        form.render('select');

        //普通图片上传
        var imgUrl = "";
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/api/upload/one' //改成您自己的上传接口
            , accept: 'image'
            , headers: { //通过 request 头传递
                token: layui.data('layuiAdmin').token
            }
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#image').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                imgUrl = res.data.url;
                $('#image').attr('src', res.data.url); //图片链接（base64）
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });


        //监听提交
        form.on('submit(vaeform)', function(data){
            if(!imgUrl && $("#image").src) {
                layer.msg("上传图片");
                return;
            }
            data.field.image = imgUrl;

            //获取checkbox[name='like']的值
            var arr = new Array();
            $("input:checkbox[name='visible']:checked").each(function(i){
                arr[i] = parseInt($(this).val());
            });
            data.field.visible = arr;//将数组合并成字符串
            if (imgUrl.length > 0) {
                data.field.image = imgUrl;
            } else {
                data.field.image = layui.setter.getData().image;
            }
            console.log(data.field);

            admin.req({
                url: "/api/articles/save"
                ,type: "post"
                ,data: data.field
                , headers: { //通过 request 头传递
                    token: layui.data('layuiAdmin').token
                }
                ,success: function(res) {
                    layer.closeAll();
                    layer.msg(res.msg);
                    table.reload("LAY-article-list");
                }
            });

        });

    });


</script>
