
<title>工厂与职位管理 - 职位类型</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>工厂与职位管理</cite></a>
        <a><cite>职位类型</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <table class="layui-hide" id="LAY-jobs-category-list" lay-filter="LAY-jobs-category-list"></table>
        </div>
    </div>
</div>
<script type="text/html" id="idTpl">
    <label style="display: inline-block; width: 100%; text-align: center">{{ d.id || ""}}</label>
</script>
<script type="text/html" id="titleTpl">
    <label style="display: inline-block; width: 100%; text-align: center">{{ d.title || ""}}</label>
</script>


<script>
    layui.use('jobs', layui.factory('jobs'));
</script>