
<div class="layui-form" lay-filter="layuiadmin-form-role" style="padding: 20px 30px 0 0;">
  <div class="layui-form-item">
    <label class="layui-form-label">用户</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <select lay-filter="uid"
                id="uid"
                name="uid"
                lay-filter="uid"></select>
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">权限范围</label>
    <div class="layui-input-block" id="rids" name="rids" lay-filter="rids" aria-required="true">
            <input type="checkbox" name="0" value="9" lay-skin="primary" lay-filter="ridaction" title="驻场经理">
            <input type="checkbox" name="1" value="11" lay-skin="primary" lay-filter="ridaction" title="业务员">
            <input type="checkbox" name="2" value="12" lay-skin="primary" lay-filter="ridaction" title="人事部">
            <input type="checkbox" name="3" value="13" lay-skin="primary" lay-filter="ridaction" title="财务部">
            <input type="checkbox" name="4" value="14" lay-skin="primary" lay-filter="ridaction" title="总经理">
            <input type="checkbox" name="5" value="15" lay-skin="primary" lay-filter="ridaction" title="蛋蛋">
            <input type="checkbox" name="5" value="100" lay-skin="primary" lay-filter="ridaction" title="管理员">
    </div>
  </div>


  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input type="button" lay-submit lay-filter="LAY-user-role-submit" value="退出" class="layui-btn">
    </div>
  </div>
</div>

<script>
  layui.use('addNewRole', layui.factory('addNewRole'));
</script>