

<div class="layui-fluid">   
  <div class="layui-card">
    <div class="layui-form" lay-filter="salaryPpaymentMethod-formlist">

      <div class="layui-card-body">

        <div class="layui-form-item">
          <div class="layui-inline">
            合作方法
          </div>
          <div class="layui-inline">
            <select name="salary_payment_method" lay-filter="salaryPpaymentMethod-type">
              <option value="蛋蛋发放">蛋蛋发放</option>
              <option value="其他">其他</option>
            </select>
          </div>
        </div>

        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn layui-bg-blue" lay-submit="" lay-filter="salaryPpaymentMethod-submit">提交</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


