

<div class="layui-fluid">   
  <div class="layui-card">
    <div class="layui-form" lay-filter="cooperation_mode-formlist">

      <div class="layui-card-body">

        <div class="layui-form-item">
          <div class="layui-inline">
            合作方法
          </div>
          <div class="layui-inline">
            <select name="cooperation_mode" lay-filter="cooperation_mode-type">
              <option value="小时工">小时工</option>
              <option value="同工同酬">同工同酬</option>
              <option value="代理招聘">代理招聘</option>
            </select>
          </div>
        </div>

        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn layui-bg-blue" lay-submit="" lay-filter="cooperation_mode-submit">提交</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


